.base-container{
    width: 500px;
    padding: 10px 40px;
    background: rgb(95, 95, 95);
    text-align: center;
    align-items: center;
    margin-left: 30%;
    /* background: radial-gradient(closest-side at 20% 50%, white,gray); */
}

b{
    color: gray;
}

.navbar{
    background: rgb(229, 229, 231);
    border-radius: 4px;
    text-transform: uppercase;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* boro image ta */
.slider{
    width: 100%;
    /* background-size: 100% 100%; */
    box-shadow: 1px 2px 10px 10px black;
    overflow: hidden;
    
}
.slider figure{
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    float: left;
    animation: 3s slider infinite;
}
.slider figure img{
    width: 100%;
    float: left;
    overflow: hidden;
}

.PicturE img{
    height: 50vh;
    overflow: hidden;
    float: left;
}



/* container ar ter vitorer jinis */

.container{
    display: flex;
    height: 45vh;
    align-items: center;
    justify-content: space-around;
    
    /* flex-wrap: wrap; */
    
}

.items{
   background-color: rgb(243, 240, 240);
   margin: 5px;
   width: 220px;
   height: 230px;
   padding: 5px ;
}

.items img{
    height: 100px;
    width: 100%;
    padding: 2px 0px 2px 0px;
}

/* footer wala part */
.foot{
    margin: 12px 0;
    color: rgb(14, 13, 13);
    background: rgb(255, 255, 255);
    height:120px;
    align-items: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
    display: flex;
}


.f-container{
    width: 200px;
}

.f-item-one-two{
    display: flex;
    width: 200px;
}

.f-item-three-four{
    display: flex;
}

.f-item{
    background: rgb(255, 255, 255);
    margin: 5px;
    width: 80px;
    height: 50px;
}
.f-item img{
        height: 50px;
        width: 100%;
}

